torch==2.7.1
numpy==1.26.4
unbabel-comet==2.2.5
fastapi==0.116.0
huggingface_hub==0.33.2
nltk==3.9.1
numba==0.61.0
pandas==2.3.1
psutil==7.0.0
pydantic==2.11.7
python-dotenv==1.1.1
Requests==2.32.4
sacrebleu[ja]==2.5.1
tqdm==4.67.1
uvicorn==0.35.0
transformers==4.53.1
prisma==0.15.0
python-multipart==0.0.20
psutil