causal_conv1d==1.5.0.post8
comet==3.1.0
fastapi==0.116.0
huggingface_hub==0.33.2
mamba_ssm==2.2.4
nltk==3.9.1
numba==0.61.0
numpy==2.3.1
pandas==2.3.1
psutil==7.0.0
pydantic==2.11.7
python-dotenv==1.1.1
Requests==2.32.4
sacrebleu==2.5.1
torch==2.7.1
tqdm==4.67.1
uvicorn==0.35.0
transformers
prisma
torch==2.8.0
python-multipart
